{% extends "base_main.html" %}
{% load static %}

{% block body %}
  <br>
  <br>
<div><h1> {{ title }} </h1>
    In this framework you can create and deploy any type of application<br/>
    You will be using it to study Machine Learning.<br/><br/>
    I strongly recommend that you take the course Software Engineering<br/>
    Which will introduce you to: databases, programing in Python, Django as a framework for applications<br/>
    and many more topics so you can create real web application on any topic.<br/>
    The AcademyCity.org was created with this tecnology.<br/><br/>
    Click on the intro to ML and start to learn.
</div>
<hr>

<div class="text-center">
  <br>
  <br>
</div>

{% endblock body %}