{% extends "base_introml.html" %}

{% block app_toolbar %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'introml:index' %}">Intro to ML</a>
    </li>
{% endblock app_toolbar %}

{% block sub_app_toolbar %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'introml:ch01' %}">CH01</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'introml:ch02' %}">CH02</a>
    </li>
{% endblock sub_app_toolbar %}

{% block body %}
<h1>{{title}}</h1>
{% endblock body %}