{% extends "base_introml.html" %}

{% block app_toolbar %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'introml:index' %}">Intro to ML</a>
    </li>
{% endblock app_toolbar %}

{% block sub_app_toolbar %}
    <li>
        <select id="cars" class="show_content">
          <option value="na">---------</option>
          <option id="get_data" value="get_data" page="get_data" chapter="2">Get Data</option>
          <option id="get_data1" value="get_data1" page="get_data" chapter="2">Get Data1</option>
        </select>
    </li>
{% endblock sub_app_toolbar %}
