{% extends "base_dbillings.html" %}

{% block title %}
    <title>Customers List</title>
{% endblock title %}

{% block sub_app_toolbar %}
{% endblock sub_app_toolbar %}

{% block body %}
<br/>
<br/>
<br/>
<br/>

<h3>Customers List</h3>
<br/>
<a href="{% url 'dbillings:create_customer' %}">
    <input type="button" value="Create New Customer"> </input>
</a>
<div class="w3-responsive">
<table  class="w3-table-all w3-hoverable" style="width:40%">
    <thead>
      <tr class="w3-light-blue">
        <th>#</th>
        <th>Customer Name</th>
        <th>View</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    {% for c in customers %}
    <tr>
        <td>{{ c.customer_number }}</td>
        <td>{{ c.first_name }} {{ c.last_name }}</td>
        <td>
            {{customer.customer_number}}
            <a href="{% url 'dbillings:detailed_customer' c.customer_number %}">
             <span class="badge badge-pill badge-info">View</span>
            </a>
        </td>
        <td>
            <a href="{% url 'dbillings:update_customer' c.customer_number %}">
            <span class="badge badge-pill badge-primary">Update</span>
            </a>
        </td>
        <td>
            <a href="{% url 'dbillings:delete_customer' c.customer_number %}">
            <span class="badge badge-pill badge-warning">Delete</span>
            </a>
        </td>
        </tr>
    {% empty %}
        <li>No customers yet.</li>
    {% endfor %}
</table>
</div>
{% endblock body %}
