Django==2.1.10
pandas==1.0.3
Pillow==9.0.0
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
redis==2.10.5
requests==2.21.0
scikit-image==0.16.2
scikit-learn==0.22.1
scipy==1.4.1
simplejson==3.16.0
six==1.11.0
sklearn==0.0
sqlparse==0.2.4
tablib==0.12.1
unicodecsv==0.14.1
uritemplate==3.0.0
urllib3==1.24.1
vine==1.2.0
wcwidth==0.1.8
webencodings==0.5.1

